<ion-header [translucent]="true">
  <ion-toolbar >
   <div class="bg-color">
     <p>APP APP</p>
   </div> 
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-grid [fixed]="true">
      <ion-row>
        <ion-col><img src="../../assets/01.jfif" alt=""></ion-col>
        <ion-col>
          Apple iPad Air 5
          ฿19,400
        </ion-col>
        <ion-col>
          <ion-button color="danger">
            <ion-icon name="trash-bin"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-item>
</ion-content>
